<!DOCTYPE html>
<html>
<head>
  <title>Twittre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav navbar-left">
        <a class="navbar-brand" href="/">Tweetre</a>
      </ul>

      <ul class="nav navbar-nav navbar pull-right">
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete, id: "log_out" %></li>
          <li><%= link_to "Tweet", new_tweet_path, id: "create_tweet", remote:true %></li>

        <% else %>
          <li> <%= link_to "Sign up", new_user_registration_path, id: "sign_up" %> </li>
          <li> <%= link_to "Sign in", new_user_session_path, id: "sign_in" %> </li>
        <% end %>
      </ul>
    </nav>

    <% if user_signed_in? %>
      <p class="right-align">Logged in as <%= current_user.email %></p>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="col-md-10 offset-1" id="main-content">
      <%= yield %>
    </div>

  </div>

</body>
</html>
